<%- include("./partials/head") %>

    <main>
        <div id="container-principal-adm">
            <nav class="navbar navbar-expand-md navbar-light navbar-transparente">

                <a href="/" class="navbar-brand">
                    <h5>Administrador</h5>
                </a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-principal">

                    <ul class="navbar-nav ml-auto">

                        <li class="navbar-item">
                            <a href="/login" class="nav-link">Clientes</a>
                        </li>

                        <li class="navbar-item divisor d-none d-md-block"></li>

                        <li class="navbar-item">
                            <a href="/register" class="nav-link">Produtos</a>
                        </li>

                        <li class="navbar-item divisor d-none d-md-block"></li>

                        <li class="navbar-item">
                            <a href="/login" class="nav-link">Categoria</a>
                        </li>

                        <li class="navbar-item divisor d-none d-md-block"></li>

                        <li class="navbar-item">
                            <a href="/register" class="nav-link">Pedidos</a>
                        </li>

                        <li class="navbar-item divisor d-none d-md-block"></li>


                        <li class="navbar-item">
                            <a href="/logout" class="nav-link">Sair</a>
                        </li>

                    </ul>

                </div>

            </nav>
            <div class="container-central-adm">
                <div class="header-adm">
                    <div class="center-adm">
                        <img src="/img/do-utilizador.png" alt="">
                        <% if (locals.user) {%>
                            <h3>Olá - <%= locals.user %>
                            </h3>
                            <% }%>
                    </div>
                    <div class="logo-adm">
                        <img src="/img/logo5.png" alt="">
                    </div>
                </div>
                <div class="caminho-adm">
                    <h5>Produtos</h5>
                    <!-- <h5>/</h5> -->
                </div>
                <div class="adicionar-item-adm">
                    <button type="button">Adicionar</button>
                </div>

                <div class="in-table-adm">

                    <input type="search" name="" id="" placeholder="Pesquisar...">
                    <img src="/img/lupa.png" alt="">

                </div>

                <% if(listProducts.length> 0) { %>
                    <div class="table">

                        <table>
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Preço</th>
                                    <th>Descrição</th>
                                    <th>Ações</th>
                                </tr>

                            </thead>
                            <tbody>

                                <% for (let product of listProducts) { %>
                                    <tr>
                                        <td>
                                            <%= product.nome %>
                                        </td>
                                        <td>
                                            R$ <%= product.preco %>
                                        </td>
                                        <td>
                                            <%= product.descricao %>
                                        </td>
                                        <td>
                                            <div class="btn-adm">
                                                <button type="button">
                                                    <img src="/img/pen.png" alt="">
                                                </button>
                                                <button type="button">
                                                    <img src="/img/lata-de-lixo.png" alt="">
                                                </button>
                                            </div>
                                    </tr>

                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                    <% } else { %>
                        <h2 class="error-alert">Nenhum produto encontrado!!</h2>
                        <% } %>

            </div>
        </div>
    </main>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    </body>

    </html>